################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AiCademy/AiCademy.Web/wwwroot/uploads/9f06a436-c707-4471-a17b-1829b4f1f7e5.pdf
