@model AiCademy.Domain.Models.Lesson

<h2>Add Lesson</h2>
<form asp-action="AddLesson" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="CourseId" value="@ViewBag.CourseId" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="VideoUrl" class="control-label"></label>
        <input asp-for="VideoUrl" class="form-control" />
        <span asp-validation-for="VideoUrl" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="PresentationUrl"></label>
        <input type="text" name="LessonUrl" class="form-control" />
    </div> *@
    <div class="form-group">
        <label asp-for="PresentationUrl" class="control-label"></label>
        <input type="file" name="LessonFile" class="form-control" />
        <span asp-validation-for="PresentationUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>
