@model AiCademy.Domain.Models.Lesson

<h2>Add Lesson</h2>
<form asp-action="AddLesson" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="CourseId" value="@ViewBag.CourseId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FilePath"></label>
        <input type="file" name="LessonFile" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>
