@model AiCademy.Domain.Models.Lesson

<h2>Edit Lesson</h2>
<form asp-action="EditLesson" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CourseId" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label for="PresentationUrl">Current Url</label>
        @if (!string.IsNullOrEmpty(Model.PresentationUrl))
        {
            <p>
                <a href="@Model.PresentationUrl" target="_blank">View Current File</a>
            </p>
        }
        else
        {
            <p>No file uploaded.</p>
        }
    </div>
    @* <div class="form-group">
        <label for="CurrentFile">Current File</label>
        @if (!string.IsNullOrEmpty(Model.FilePath))
        {
            <p>
                <a href="@Model.FilePath" target="_blank">View Current File</a>
            </p>
        }
        else
        {
            <p>No file uploaded.</p>
        }
    </div> *@

    <div class="form-group">
        <label for="LessonFile">Upload New File</label>
        <input type="file" name="LessonFile" class="form-control" />
        <small class="form-text text-muted">Leave this blank if you don't want to change the file.</small>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>