@model List<AiCademy.Domain.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Courses</h1>

<div class="container">

     @for(int i=0;i<Model.Count; i++)
    {
        var item = Model[i];
        if(i % 3 == 0)
        {
            @:<div class="row">
        }
        <div class="col-3 m-4">

            <div class="card" style="width: 18rem; height: 35rem">
                <img class="card-img-top" src="#" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <h6>Duration: @item.Duration</h6>
                </div>
                <div class="card-footer">
                   <td> 
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>  
               
   
             </td> 
                </div>

            </div>
        </div>

        if(i % 3 == 2)
        {
            @:</div>
        }
    }
</div>